.hamtaro-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 45px;
  object-fit: cover;
}
.purrfectmatchcom {
  position: absolute;
  top: 12px;
  left: 52px;
}
.hamtaro-1-parent {
  position: absolute;
  top: 30px;
  left: 38px;
  width: 246px;
  height: 45px;
  text-align: left;
  font-size: 24px;
  color: #000;
}
.authentication-child {
  position: absolute;
  top: -106px;
  left: 1031px;
  border-radius: 50%;
  background-color: #daf4f3;
  width: 1687px;
  height: 1687px;
}
.authentication-inner,
.authentication-item {
  position: absolute;
  top: 151px;
  left: 1256px;
  border-radius: 50%;
  background-color: #a3e5e0;
  width: 1237px;
  height: 1175px;
}
.authentication-inner {
  top: 305px;
  left: 1418px;
  background-color: #38bfb6;
  width: 913px;
  height: 866px;
}

.backgroundauthentication{
    width: 1520px;
    height: 740px;
    background-color: #FFF6EF;
    display: flex;

}

.authentication-child {
  position: absolute;
  top: -106px;
  left: 1031px;
  border-radius: 50%;
  background-color: #daf4f3;
  width: 1687px;
  height: 1687px;
}

.authentication-inner,
.authentication-item {
  position: absolute;
  top: 151px;
  left: 1256px;
  border-radius: 50%;
  background-color: #a3e5e0;
  width: 1237px;
  height: 1175px;
}

.authentication-inner {
  top: 305px;
  left: 1418px;
  background-color: #38bfb6;
  width: 913px;
  height: 866px;
}


.login-container{
  display: grid;
  background-color: #FFF6EF;

}

.login1
{
  width: 166px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 12px;
  position: absolute;

  top: 460px;
  left: 620px;

  background: #F07681;
  color: #FFF6EF;
  font-family: 'Abhaya Libre Medium';
  font-weight: 300;
  font-size: 20px;
  z-index: 15;
}

.login {
  display: inline-block;
  border-radius: 4px;
  background-color: #FFF6EF;
  border: none;
  color: #38bfb6;
  text-align: center;
  font-size: 50px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;

  top: 90px;
  left: 228px;
  font-family: 'Abhaya Libre Medium';
  font-weight: 600;

}

.login span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.login:hover span {
  padding-right: 25px;
}

.login:hover span:after {
  opacity: 1;
  right: 0;
}

.sign-up {
  display: inline-block;
  border-radius: 4px;
  background-color: #FFF6EF;
  border: none;
  color: #918C88;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  top: 90px;
  left: 460px;
  font-family: 'Abhaya Libre Medium';
  font-weight: 600;
  font-size: 50px;

}

.sign-up span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.sign-up span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sign-up:hover span {
  padding-right: 25px;
}

.sign-up:hover span:after {
  opacity: 1;
  right: 0;
}

input[type=text], select {
  width: 532.5px;
  height: 75px;
  flex-shrink: 0;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #918C88;
  background: #EBF6F2;
  border-radius: 55px;
  box-sizing: border-box;
  position: absolute;
  top: 215px;
  left: 215px;
}

input[type=text].password {
  top: 320px;
}

.line-div,
.line-icon {
  position: absolute;
  top: 278.5px;
  height: 3px;
}

.line-div {
  left: 212.5px;
  border-top: 3px solid var(--color-lightseagreen-100);
  box-sizing: border-box;
  width: 199px;
}

.line-icon {
  left: 515px;
  width: 249.5px;
}

.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-36xl);
  background-color: var(--color-mintcream);
  border: 2px solid var(--color-gray);
  box-sizing: border-box;
  width: 532.5px;
  height: 75px;
}

.authentication-inner1,
.group-div {
  position: absolute;
  top: 370px;
  left: 214px;
  width: 532.5px;
  height: 75px;
}

.authentication-inner1 {
  top: 502px;
}

.authentication {
  position: relative;
  background-color: var(--color-seashell);
  width: 100%;
  height: 1080px;
  overflow-x: auto;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-lightseagreen-100);
  font-family: var(--font-abhaya-libre-extrabold);
}

.circles{
    width: 680px;
    bottom: 0px;
    left: 840px;
    position: absolute;
    z-index: 2;
}

.dog{
  width: 580px;
  bottom: 0px;
  left: 860px;
  position: absolute;
  z-index: 10;
}