.background7{
  width: 1520px;
  height: 740px;
  background-color: #DACDED;
  display: flex;
}

.mycartpurple4{
  width: 64px;
  height: 65px;
  position: absolute;
  left: 1370px;
  top: 55px;
  z-index: 0;
  background-color: transparent ;
}

.mycartpurple4-icon{
  width: 64px;
  height: 65px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 20;  
}

.mypetspageselected{
  width: 53px;
  height: 8px;
  position: absolute;
  left: 1266px;
  top: 120px;
  z-index: 20;
}

.container{
  width: 1400px;
  height: 520px;
  top: 150px;
  left: 60px;
  position: absolute;
  background: #FFF6EF;
  border-radius: 55px;
  z-index: 20;
}

.MyPetsTitle{
  color: black;
  font-size: 90px;
  font-family: 'Abhaya LibreSmiBold';
  font-weight: 600;
  top: 150px;
  left: 100px;
  position: absolute;
  z-index: 21;
  white-space: nowrap;
  letter-spacing: 7.20px;
}