
.background2 {
  width: 1520px;
  height: 740px;
  background-color: #DACDED;
  display: flex;

  overflow: hidden;
}

.mycartpurple2 {
  width: 64px;
  height: 65px;
  position: absolute;
  left: 1370px;
  top: 55px;
  z-index: 0;

  background-color: transparent;
}

.mycartpurple2-icon {
  width: 64px;
  height: 65px;
  position: absolute;
  left: 0px;
  top: 0px;

  z-index: 20;
}

.filter {
  background-color: #fff5ef;
  border-radius: 0px 40px 0px 0px;
  height: 580px;
  left: 0;
  position: absolute;
  top: 150px;
  width: 320px;
  z-index: 10;
}

.searchbar {
  background-color: #dacded75;
  border-radius: 40px;
  height: 40px;
  left: 50px;
  position: absolute;
  top: 165px;
  width: 250px;
  z-index: 20;
}

.search {
  color: #492f6c;
  font-family: 'Abhaya LibreSmiBold';
  font-size: 22px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 160px;
  white-space: nowrap;
  width: 160px;
  z-index: 30;
}

.searchicon {
  height: 30px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 169px;
  width: 30px;
  z-index: 30;
}

.atypes {
  height: 10px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 250px;
  width: 14px;
  z-index: 10;
}

.stypes {
  color: #000000;
  background-color: transparent;
  font-family: 'Abhaya LibreSmiBold';
  font-size: 22px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 90px;
  z-index: 20;
  top: 240px;
}

.abreeds {
  height: 10px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 300px;
  width: 14px;
  z-index: 10;
}

.sbreeds {
  color: #000000;
  background-color: transparent;
  font-family: 'Abhaya LibreSmiBold';
  font-size: 22px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: 0;
  position: absolute;
  text-align: left;
  top: 290px;
  white-space: nowrap;
  width: 95px;
  z-index: 20;
}

.agender {
  height: 10px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 350px;
  width: 14px;
  z-index: 10;
}

.sgender {
  color: #000000;
  background-color: transparent;
  font-family: 'Abhaya LibreSmiBold';
  font-size: 22px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: 0;
  position: absolute;
  text-align: left;
  top: 340px;
  white-space: nowrap;
  width: 110px;
  z-index: 20;
}

.amatches {
  height: 10px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 400px;
  width: 14px;
  z-index: 10;
}

.smatches {
  color: #000000;
  background-color: transparent;
  font-family: 'Abhaya LibreSmiBold';
  font-size: 22px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: 0;
  position: absolute;
  text-align: left;
  top: 390px;
  white-space: nowrap;
  width: 215px;
  z-index: 20;
}

.cSunshine {
  background-color: #6f3db2;
  border-radius: 172px;
  height: 280px;
  left: 420px;
  position: absolute;
  top: 200px;
  width: 280px;
}

.cstandard {
  background-color: #6f3db2;
  border-radius: 172px;
  height: 280px;
  position: absolute;
  width: 280px;
}

.tSunshine {
  color: #000000;
  background-color: transparent;
  font-family: 'Abhaya Libre ExtraBold';
  font-size: 60px;
  font-weight: 400;
  left: 450px;
  letter-spacing: 0;
  line-height: 0;
  position: absolute;
  text-align: center;
  top: 520px;
  white-space: nowrap;
  width: 215px;
  z-index: 20;
}

.dSunshine {
  color: #000000;
  background-color: transparent;
  font-family: 'Abhaya LibreSmiBold';
  font-size: 26px;
  font-weight: 400;
  left: 450px;
  letter-spacing: 0;
  line-height: 0;
  position: absolute;
  text-align: center;
  top: 560px;
  white-space: nowrap;
  width: 215px;
  z-index: 20;
}


.bSunshine {
  background-color: #f07681;
  font-family: 'Abhaya LibreSmiBold';
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 0;
  height: 40px;
  text-align: center;
  border-radius: 12px;
  left: 485px;
  position: absolute;
  top: 590px;
  width: 150px;
  z-index: 30;
}



.Sunshine {
  border-radius: 16px;
  border-color: #6f3db2;
  height: 240px;
  left: 440px;
  position: absolute;
  top: 220px;
  width: 240px;
  z-index: 20;
}

.cNala {
  background-color: #6f3db2;
  border-radius: 172px;
  height: 280px;
  left: 770px;
  position: absolute;
  top: 200px;
  width: 280px;
}

.Nala {
  border-radius: 16px;
  border-color: #6f3db2;
  height: 240px;
  left: 790px;
  position: absolute;
  top: 220px;
  width: 240px;
  z-index: 20;
}

.tNala {
  color: #000000;
  background-color: transparent;
  font-family: 'Abhaya Libre ExtraBold';
  font-size: 60px;
  font-weight: 400;
  left: 810px;
  letter-spacing: 0;
  line-height: 0;
  position: absolute;
  text-align: center;
  top: 520px;
  white-space: nowrap;
  width: 215px;
  z-index: 20;
}

.dNala {
  color: #000000;
  background-color: transparent;
  font-family: 'Abhaya LibreSmiBold';
  font-size: 26px;
  font-weight: 400;
  left: 810px;
  letter-spacing: 0;
  line-height: 0;
  position: absolute;
  text-align: center;
  top: 560px;
  white-space: nowrap;
  width: 215px;
  z-index: 20;
}


.bNala {
  background-color: #f07681;
  font-family: 'Abhaya LibreSmiBold';
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 0;
  height: 40px;
  text-align: center;
  border-radius: 12px;
  left: 840px;
  position: absolute;
  top: 590px;
  width: 150px;
  z-index: 30;
}



.cPeanut {
  background-color: #6f3db2;
  border-radius: 172px;
  height: 280px;
  left: 1120px;
  position: absolute;
  top: 200px;
  width: 280px;
}

.Peanut {
  border-radius: 16px;
  border-color: #6f3db2;
  height: 240px;
  left: 1140px;
  position: absolute;
  top: 220px;
  width: 240px;
  z-index: 20;
}

.tPeanut {
  color: #000000;
  background-color: transparent;
  font-family: 'Abhaya Libre ExtraBold';
  font-size: 60px;
  font-weight: 400;
  left: 1150px;
  letter-spacing: 0;
  line-height: 0;
  position: absolute;
  text-align: center;
  top: 520px;
  white-space: nowrap;
  width: 215px;
  z-index: 20;
}

.dPeanut {
  color: #000000;
  background-color: transparent;
  font-family: 'Abhaya LibreSmiBold';
  font-size: 26px;
  font-weight: 400;
  left: 1140px;
  letter-spacing: 0;
  line-height: 0;
  position: absolute;
  text-align: center;
  top: 560px;
  white-space: nowrap;
  width: 215px;
  z-index: 20;
}


.bPeanut {
  background-color: #f07681;
  font-family: 'Abhaya LibreSmiBold';
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 0;
  height: 40px;
  text-align: center;
  border-radius: 12px;
  left: 1180px;
  position: absolute;
  top: 590px;
  width: 150px;
  z-index: 30;
}

.c1 {
  background-color: #6f3db2;
  border-radius: 172px;
  height: 280px;
  left: 420px;
  position: absolute;
  top: 650px;
  width: 280px;
}

.c2 {
  background-color: #6f3db2;
  border-radius: 172px;
  height: 280px;
  left: 770px;
  position: absolute;
  top: 650px;
  width: 280px;
}

.c3 {
  background-color: #6f3db2;
  border-radius: 172px;
  height: 280px;
  left: 1120px;
  position: absolute;
  top: 650px;
  width: 280px;
}

