
.background2{
    width: 1520px;
    height: 740px;
    background-color: #DACDED;
    display: flex;
}

.mycartpurple2{
    width: 64px;
    height: 65px;
    position: absolute;
    left: 1370px;
    top: 55px;
    z-index: 0;
    background-color: transparent ;
  }

  .mycartpurple2-icon{
    width: 64px;
    height: 65px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 20;  
  }
